<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" crossorigin="anonymous"></script>
    <title>공지사항 상세</title>
</head>
<body class="bg-gray-100">
<div layout:fragment="content" class="max-w-4xl mx-auto mt-8 p-4 bg-white shadow rounded-md">
    <div class="flex">
        <div class="text-gray-600 text-[80%] ml-12 font-semibold mb-4">현재 위치: 상담센터 > 공지사항 > 상세보기</div>
    </div>
    <!-- 공지사항 내용 -->
    <div class="mb-4">
        <h1 class="text-2xl font-bold text-gray-900" th:text="${notice.subject}"></h1>
        <p class="text-sm text-gray-600 mt-2" th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}"></p>
        <div class="flex justify-end space-x-4 mt-2">
            <!-- 수정 버튼 -->
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/cscenter/noticelist/admin/notice/edit/{id}(id=${notice.id})}" class="text-blue-600 hover:text-blue-900 border border-blue-600 hover:border-blue-900 px-2 py-1 rounded">
                수정
            </a>

            <!-- 삭제 버튼, 어드민만 보이도록 설정 -->
            <form sec:authorize="hasRole('ADMIN')" th:action="@{/cscenter/noticelist/admin/notice/delete/{id}(id=${notice.id})}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');" class="inline">
                <button type="submit" class="text-red-600 hover:text-red-900 border border-red-600 hover:border-red-900 px-2 py-1 rounded">
                    삭제
                </button>
            </form>
        </div>
        <div class="mt-4">
            <p class="text-lg text-gray-800" th:text="${notice.content}"></p>
        </div>
    </div>
    <div class="mt-4">
        <a th:href="@{/cscenter/noticelist}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">목록으로 돌아가기</a>
    </div>
</div>
</body>
</html>
