<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀글 비밀번호 확인</title>
	<script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-sm bg-white rounded-lg shadow-lg p-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center border-b-2 border-gray-300 pb-3">비밀글 비밀번호 확인</h1>
        <form th:action="@{|/cscenter/myhistory/detail/${historyId}|}" method="get">
            <div class="mb-5">
                <label for="password" class="block text-sm font-medium text-gray-700">비밀번호</label>
                <input type="password" name="password" id="password" placeholder="비밀번호"
                    class="mt-2 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 transition duration-200">
            </div>
            <button type="submit"
                class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-4 rounded-md shadow-md transition duration-300 ease-in-out">
                확인
            </button>
        </form>
    </div>
</body>

</html>