<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div layout:fragment="content" class="flex items-start justify-center min-h-screen pt-24 mt-10">
    <form th:action="@{/user/change-password}" method="post" class="max-w-2xl w-full bg-white p-12 rounded-lg shadow-lg">
        <!-- 오류 메시지 -->
        <div th:if="${error}" class="mb-4">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-5 rounded relative" role="alert">
                <strong class="font-bold">오류!</strong>
                <span class="block sm:inline" th:text="${error}"></span>
            </div>
        </div>
        <!-- 사용자 아이디 입력 -->
        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-4">아이디 <span class="text-red-500">*</span></label>
            <input type="text" name="username1" id="username" class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm">
        </div>
        <!-- 기존 비밀번호 입력 -->
        <div class="mb-4">
            <label for="oldPassword" class="block text-gray-700 text-sm font-bold mb-4">기존 비밀번호 <span class="text-red-500">*</span></label>
            <input type="password" name="oldPassword" id="oldPassword" class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm">
        </div>
        <!-- 새로운 비밀번호 입력 -->
        <div class="mb-4">
            <label for="newPassword1" class="block text-gray-700 text-sm font-bold mb-4">새 비밀번호 <span class="text-red-500">*</span></label>
            <input type="password" name="newPassword1" id="newPassword1" class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm">
        </div>
        <!-- 새로운 비밀번호 재입력 -->
        <div class="mb-4">
            <label for="newPassword2" class="block text-gray-700 text-sm font-bold mb-4">새 비밀번호 확인 <span class="text-red-500">*</span></label>
            <input type="password" name="newPassword2" id="newPassword2" class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm">
        </div>
        <!-- 버튼들 -->
        <div class="flex items-center justify-between">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-lg focus:outline-none focus:shadow-outline text-sm">비밀번호 재설정</button>
            <a href="/" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-4 px-8 rounded-lg focus:outline-none focus:shadow-outline text-sm">취소</a>
        </div>
    </form>
</div>
</body>
</html>
