<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 재설정</title>
</head>
<body>
<div layout:fragment="content" class="flex items-start justify-center min-h-screen pt-24 mt-10">
  <form th:action="@{/user/reset-password}" method="post" class="max-w-2xl w-full bg-white p-12 rounded-lg shadow-lg">
    <!-- 오류 메시지 -->
    <div th:if="${error}" class="mb-4">
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-5 rounded relative" role="alert">
        <strong class="font-bold">오류!</strong>
        <span class="block sm:inline" th:text="${error}"></span>
      </div>
    </div>

    <!-- 사용자 아이디 (hidden input) -->
    <input type="hidden" name="username1" th:value="${username1}">

    <!-- 새 비밀번호 입력 -->
    <div class="mb-4">
      <label for="newPassword1" class="block text-gray-700 text-sm font-bold mb-4">새 비밀번호 <span class="text-red-500">*</span></label>
      <input type="password" name="newPassword1" id="newPassword1" class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm">
    </div>

    <!-- 새 비밀번호 확인 입력 -->
    <div class="mb-4">
      <label for="newPassword2" class="block text-gray-700 text-sm font-bold mb-4">새 비밀번호 확인 <span class="text-red-500">*</span></label>
      <input type="password" name="newPassword2" id="newPassword2" class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm">
    </div>

    <!-- 제출 버튼 -->
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded-lg focus:outline-none focus:shadow-outline text-sm">비밀번호 재설정</button>
      <a th:href="@{login}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-4 px-8 rounded-lg focus:outline-none focus:shadow-outline text-sm">취소</a>
    </div>
  </form>
</div>
</body>
</html>
